@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #f8f8f8;
  color: black;
  font-size: 15px;
  margin: 0.2em;
  ;
}

.btn:hover {
  opacity: 0.9;
}

.dark {
  color: #fff;
}

.dark .btn {
  background: #f4f4f4;
  color: #333;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./img/bg1.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: white;
}

.kuusamo {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/kuusamo.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: white;
}

.showcase h2, .kuusamo h2 {
  margin-bottom: 10px;
  font-size: 26px;
}

.showcase p, .kuusamo h2 {
  margin-bottom: 10px;
  font-size: 20px;
  width: 95%;
}

.showcase .btn, .kuusamo .btn {
  margin-top: 2em;
}

/* Home cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.home-cards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

/* Food */
.food {
  margin-top: 5em;
  width: 100%;
  height: 350px;
  background: url('./img/food.png') no-repeat center center/cover;
  margin-bottom: 20px;
}


/* Shops */
.shops {
  width: 100%;
  height: 350px;
  background: url('./img/shops.png') no-repeat center center/cover;
  margin-bottom: 20px;
  margin-top: 10em;
}

/* Other services */
.services {
  width: 100%;
  height: 350px;
  background: url('./img/services.png') no-repeat center center/cover;
  margin-bottom: 20px;
  margin-top: 10em;
}

/* Homes */
.homes {
  width: 100%;
  height: 350px;
  background: url('./img/home.png') no-repeat center center/cover;
  margin-bottom: 20px;
  margin-top: 10em;
}

/* Entertain */
.entertain {
  width: 100%;
  height: 350px;
  background: url('./img/entertain.png') no-repeat center center/cover;
  margin-bottom: 20px;
  margin-top: 10em;
}

/* Sports */
.sports {
  width: 100%;
  height: 350px;
  background: url('./img/sports.png') no-repeat center center/cover;
  margin-bottom: 20px;
  margin-top: 10em;
}

.food .content,
.services .content,
.homes .content,
.shops .content,
.entertain .content,
.sports .content {
  width: 40%;
  padding: 50px 0 0 30px;
}

.food p,
.services p,
.homes p,
.shops p,
.entertain p,
.sports p {
  margin: 10px 0 20px;
  font-size: 18px;
}

.food h2,
.services h2,
.homes h2,
.shops h2,
.entertain h2,
.sports h2 {
  font-size: 35px;
}

.carbon p {
  margin: 10px 0 20px;
}

/* Carbon */
.carbon {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/bg2.jpg') no-repeat center center/cover;
}

.carbon .content {
  width: 65%;
  padding: 100px 0 0 30px;
  font-size: 18px;
}

/* Footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}

.social-icon {
  justify-content: center;
}

@media(max-width: 700px) {
  .showcase, .kuusamo {
    padding-bottom: 20px;
  }

  .menu-btn {
    display: block;
  }

  .carbon .content {
    width: 90%;
    padding: 20px 0 0 20px;
  }

  .services,
  .homes,
  .shops,
  .entertain,
  .sports {
    background: #f2f2f2;
    height: 15em;
  }

  .food {
    background: #f2f2f2;
    height: 20em;
  }

  .food .content {
    width: 80%;
    padding: 10px 0 0 30px;
  }

  .services .content,
  .homes .content,
  .shops .content,
  .entertain .content,
  .sports .content {
    width: 80%;
    padding: 50px 0 0 30px;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .food .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 85%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}